.WizardView {
    display: flex;
    flex-direction: column;
}

.WizardView > :nth-child(1) {
    height: 90%;
}
.WizardView > :nth-child(2) {
    height: 10%;
}

.WizardView .ButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    border-top: 1px solid gray;

}

.WizardView .ButtonContainer > * {
    margin-right: 10px;
}