.Layout {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50px 100%;
    grid-template-areas:
        'header header'
        'left-side right-side';
    min-height: 100vh;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

.Layout > :nth-child(1) {
    border-bottom: 1px solid black;
    grid-area: header;
}

.Layout > :nth-child(2) {
    border-right: 1px solid black;
    grid-area: left-side;
}
.Layout > :nth-child(3) {
    grid-area: right-side;
}
